{% extends '@LogBook/base_content.html.twig' %}

{% block content_body %}

    {% for log in logs %}
        {% if log.exists %}
            <style>
                .monospaced {
                    font-family: 'JetBrains Mono', monospace;
                    font-size: 12px;
                }
            </style>

            <div class="col-lg-3">
                <div class="card">
                    <h2 class="card-title">
                        {{ log.name }}
                    </h2>

                    <p class="text-muted monospaced">
                        <span class="badge badge-pill">Path: </span> {{ log.path }}
                    </p>

                    <p class="text-muted monospaced">
                        <span class="badge badge-pill">Period: </span> last {{ log.days }} days
                    </p>

                    <div class="text-right">
                        <a href="{{ url('log_book_viewer_detail') }}?id={{ log.id }}"
                           class="btn btn-sm">Open ></a>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}
{% endblock %}
