{% extends '@LogBook/base_content.html.twig' %}

{% block content_body %}
    {% if noLog is defined %}
        <div class="alert alert-info">
            No Log has been generated for today!<br>
        </div>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.6/dayjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.6/plugin/customParseFormat.min.js"></script>

        <style>
            .monospaced {
                font-family: 'JetBrains Mono', monospace;
                font-size: 13px;
            }
        </style>

        <table id="table" class="table table-hover">
            <tr>
                <th style="width: 9%">DateTime</th>
                <th style="width: 9%">Channel</th>
                <th style="width: 9%">Level</th>
                <th>Message</th>
            </tr>

            <tr>
                <th>
                    <input type="date" class="form-control" onchange="filterDate()" id="date" placeholder="Date" />
                </th>
                <th>
                    <select class="form-control" onchange="filterChannel()" id="channel">
                        <option value="" selected="selected">All</option>
                        <option value="request">request</option>
                        <option value="console">console</option>
                    </select>
                </th>
                <th>
                    <select class="form-control" onchange="filterLevel()" id="level">
                        <option value="" selected="selected">All</option>
                        <option value="debug">DEBUG</option>
                        <option value="info">INFO</option>
                        <option value="notice">NOTICE</option>
                        <option value="critical">CRITICAL</option>
                    </select>
                </th>
                <th>
                    <input onkeyup="searchMessage()" type="text" class="form-control" id="message"
                           placeholder="Message"/>
                </th>
            </tr>

            {% for line in log %}
                <tr class="monospaced table-{{ line.level | lower | replace({'emergency': 'danger', 'critical': 'danger', 'error': 'danger', 'alert': 'danger', 'warning': 'secondary'}) }}">
                    <td>
                        {% if line.dateTime == false %}Date Parse Error{% else %}{{ line.dateTime|date('d/m/Y H:i') }}{% endif %}
                    </td>
                    <td>
                        {{ line.type }}
                    </td>
                    <td class="text-monospace">
                        {{ line.level }}
                    </td>
                    <td>
                        <strong>{{ line.message | raw }}</strong>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <script>
            function filterDate() {
                let selectedDate, filter, table, tr, td, i, txtValue;
                selectedDate = document.querySelector("#date");
                dayjs.extend(window.dayjs_plugin_customParseFormat)
                filter = dayjs(selectedDate.value, 'YYYY-MM-DD')
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];

                    if (td) {
                        txtValue = dayjs(td.textContent || td.innerText, 'DD/MM/YYYY HH:mm')

                        if (txtValue.isSame(filter, 'day') || !filter.isValid()) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

            function filterChannel() {
                let selectedChannel, filter, table, tr, td, i, txtValue;
                selectedChannel = document.querySelector("#channel");
                filter = selectedChannel.value;
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];

                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.trim().toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

            function filterLevel() {
                let selectedLevel, filter, table, tr, td, i, txtValue;
                selectedLevel = document.querySelector("#level");
                filter = selectedLevel.value;
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];

                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.trim().toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

            function searchMessage() {
                let inputMessage, filter, table, tr, td, i, txtValue;
                inputMessage = document.getElementById("message");
                filter = inputMessage.value.toUpperCase();
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[3];

                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    {% endif %}
{% endblock %}
